<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/style.css">

<body>

{% for text in get_flashed_messages() %}
  <p>{{ text }}</p>
{% endfor %}

<h1>Messages!</h1>

<form>
  <input type="search" name="q" placeholder="search text ..." value="{{ q }}">
  <button type="submit">search</button>
</form>

{% for message in messages %}
  <p class="message">
    <a href="{{ url_for('message_view', message_id=message.id) }}">
      {{ message.text|truncate(10) }}
    </a>
  </p>
{% endfor %}

<form class="new-form" method="POST" action="/new">
  <input name="message" placeholder="new message">
  <button type="submit">save</button>
</form>
